


<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerLink}}
</head>
<body>
    {{>navbar}}
   
<!-- main header -->
<div class="container-fluid " style="margin-top: 150px;">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                
                <!-- left side div -->
                 <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="./images/mountains-g9676d4b5f_1280.jpg" alt="narture"  title="mehulgohil" class="img-fluid">
                        </figure>
                    </div>
                 <!-- right side div -->
               
                    <div class="col-md-6 col-12 main_header_left">
                        <p>
                            Welcome to wheather app
                        </p>
                        <h1>Get the Latest wheather Info of Your City</h1>
                        <button class="btn btn-info btn-lg" > <a style="text-decoration: none; color:black" target="_blank" href="https://www.linkedin.com/in/mehul-gohil-4631a820a/">About  Me</a> </button>
                    </div>
            </div>
            </div>
        </div>
    </div>
<!-- footer -->
<div >
  {{>footer}}
</div>

</body>
</html>