<!DOCTYPE html>
<html lang="en">

<head>
{{>headerLink}}
</head>

<body>

    <!-- main header -->
   <div class="backgroundd">
        <div class="error">404</div>
                       <br /><br />
        <span class="info">File not found</span>
        </div>
</body>

</html>