<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerLink}}
</head>
<body>
    {{>navbar}}
   
<!-- main header -->
<div>
<div class="container-fluid " style="margin-top: 30px;">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!-- left side div -->
                <div class="col-md-6 col-12 main_header_left">
                      <p>
                          Welcome to Weather app
                      </p>
                      <h1>Get the Latest Weather Info of Your Cityyyyyy</h1>
                      <button  class="btn btn-info btn-lg"><a href="/wheather" style="text-decoration: none; color: black" >Check Now</a></button>
                </div>
                 <!-- right side div -->
                {{!-- <div class="col-md-6 col-12 main_header_right" >
                    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active" data-bs-interval="10000">
                            <img src="./images/nature-g8e818fa1f_1920.jpg" style="height:33em; width:40em"   alt="immge">
                          </div>
                          <div class="carousel-item" data-bs-interval="2000">
                            <img src="./images/sea-gd4b245778_1280.jpg" style="height:33em; width:40em"  alt="immge">
                          </div>
                          <div class="carousel-item">
                            <img src="./images/tree-g6ec654899_1280.jpg" style="height:33em; width:40em"  alt="immge">
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </div> --}}
            </div>
            </div>
        </div>
    </div>
<!-- footer -->
<div>
  {{>footer}}
</div>
</div>


</body>
</html>