<!DOCTYPE html>
<html lang="en">

<head>
{{>headerLink}}
</head>

<body>
    {{>navbar}}
 
    <!-- main header -->
    <section id="zindex" class="">
        <div class="container-fluid" style="margin-top:170px">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
               <div class="main_content">
                   <form action=""  class="temp_form" >
                       <input type="text" id="cityName" placeholder="Enter Your City name">
                       <input type="submit" value="search" id="submitBtn"> 
                   </form>
               </div>
               <div class="tempInfoation">
                   <div class="top_layer">
                       <p id="day">MEhul</p>
                       <p id="today_data">13</p>
                   </div>
                   <div class="main_layer">
                       <p id="city_name">Get Output</p>
                       <div class="middle_layer data_hide"> 
                           <p id="temp"><span id="temp_Val">0</span> <sup>0</sup>C</p>
                           <p id="temp_status"> <i class="fa fa-cloud" aria-hidden="true"></i> </p>

                       </div>
                   </div>
               </div>
            </div>
        </div>
 
       
    </div>

    </section>
    
    <!-- footer -->
           <div>
 {{>footer}}
    </div>
  
<script src="js/main.js"></script>
</body>

</html>