{{!-- <footer>
    <p>created with web gohil</p>
</footer> --}}
<footer>
   <div style="text-align:center;">
      <div style="color:white; padding:26px;">
         &copy; <b style="font-size: 20px;">2021 | Created & designed by</b> <a href="https://www.linkedin.com/in/mehul-gohil-4631a820a/" style="color: #48dbfb">WebGohil</a>
      </div>
      <div  class="sm" style=" padding-bottom:20px">
        <a href="#" style="color: #48dbfb; margin-right:12px;" class="fab fa-facebook-f"></a>
        <a href="#" style="color: #48dbfb;  margin-right:12px;" class="fab fa-twitter"></a>
        <a href="#" style="color: #48dbfb;  margin-right:12px;"class="fab fa-instagram"></a>
        <a href="https://www.linkedin.com/in/mehul-gohil-4631a820a/" style="color: #48dbfb;  margin-right:12px;"class="fab fa-linkedin-in"></a>
        <a href="#" style="color: #48dbfb;  margin-right:12px;"class="fab fa-youtube"></a><br>
      </div>
   </div>
   
</footer>

{{!-- const tem_mode=arrData[0].weather[0].main;
        if(temp_mode == "Clear"){
            temp_status.innerHTML="<i class='fas fa-sun' style='color:#eccc68;'></i>"
        }else  if(tem_mode == "Clouds"){
            temp_status.innerHTML="<i class='fas fa-cloud' style='color:#f1f2f6;'></i>"
        }else  if(tem_mode == "Rain"){
            temp_status.innerHTML="<i class='fas fa-cloud-rain' style='color:#a4b0be;'></i>"
        }else if(tem_mode == "Haze"){
            temp_status.innerHTML="<i class='fa-solid fa-sun-haze' ></i>"
        }else{
            temp_status.innerHTML="<i class='fas fa-sun' style='color:#f1f2f6;' ></i>"
        }
        // console.log(arrData)
    }catch{
        city_name.innerText='Plz Enter the City name Properly'

    }

} --}}